@import "../guide";

body.dark-mode {
  .SubHero,
  .VideoComp,
  .News,
  .InsidePage .content,
  .contentLong,
  .NewsBox,
  .wrapper,
  .Home,
  .NewsDetails {
    background-color: $Black;
    h1 {
      color: $Blue;
    }
    h2 {
      color: $White;
    }
    p {
      color: #{$White};
    }
  }
  .Footer {
    background-color: #{$LightGray};
  }
  .NewsItem {
    background-color: #333746;
  }
}

body.light-mode {
  .SubHero,
  .VideoComp,
  .News,
  .InsidePage .content,
  .contentLong,
  .NewsBox,
  .wrapper,
  .Home,
  .NewsDetails {
    background-color: #{$White};

    h1 {
      color: $Blue;
    }
    h2 {
      color: $DarkGray !important;
    }

    p {
      color: $DarkGray;
    }
  }

  .Footer {
    background-color: $Black;

    .links > p {
      color: $White !important;
    }
    &__Content {
      p {
        color: $White;
      }
    }
  }

  .SubHero__cms__tab .icon {
    background-color: rgb(222, 222, 222) !important;
  }
  .NewsItem {
    background-color: #ffffff;
    .info {
      &__title {
        color: $DarkGray;
      }
    }
  }
  .Contact {
    &__Content {
      .title {
        p {
          color: white;
        }
      }
    }
  }
}
