@import "../guide";

body.dark-mode {
  .SubHero,
  .VideoComp,
  .News,
  .InsidePage .content,
  .NewsBox,
  .wrapper,
  .Home,
  .NewsDetails {
    background-color: #{$Black};

    h1 {
      color: $Blue;
    }
    h2 {
      color: $White;
    }
    p {
      color: #{$White};
    }
  }
  .Footer {
    background-color: #{$LightGray};
  }
}

body.light-mode {
  .SubHero,
  .VideoComp,
  .News,
  .InsidePage .content,
  .NewsBox,
  .wrapper,
  .Home,
  .NewsDetails {
    background-color: #{$White};

    h1 {
      color: $Blue;
    }
    h2 {
      color: $DarkGray !important;
    }

    p {
      color: $DarkGray;
    }
  }
  .Footer {
    background-color: $Black;

    .links > p {
      color: $White !important;
    }
  }
}
