@import "../guide";
//     #{$Blue}
//     #{$DarkBlue}
//     #{$Black}
//     #{$Green}

//     $thin
//     $mid
//     $fat

.Footer {
  color: #{$White};
  position: relative;
  z-index: 10;
  color: #{$White};
  // border-radius: 90%/100px 100px 0 0;
  clip-path: ellipse(150% 100% at 50% 0);
  -webkit-clip-path: ellipse(150% 100% at 50% 100%);
  margin-top: -10rem;

  @media screen and (max-width: $medium) {
    clip-path: ellipse(200% 100% at 50% 0);
    -webkit-clip-path: ellipse(200% 100% at 50% 100%);
  }
  @media screen and (min-width: 675px) {
    margin-top: -8rem;
  }

  &__Content {
    @include centerMe;
    text-align: center;
    padding-top: 5rem;

    .title {
      font-family: $mid;
      font-size: 2.5rem;
      padding-top: 3rem;
    }
    .subTitle {
      margin: 1rem 0 3rem 0;
      font-family: $thin;
      font-size: 1.3rem;
    }
    button {
      @include bigButton;
      margin: 0 0.5rem;
      border-radius: 0.8rem;
      color: white;
    }
    .QuoteBtn {
      background-color: #{$Blue};
      transition: all 0.3s ease;

      &:hover {
        background-color: #248fa1;
      }
    }
    .callBtn {
      background: #333746;
      transition: all 0.3s ease;

      &:hover {
        background: #272b36;
      }
    }

    .linksBox {
      margin: 6rem;
      display: flex;
      justify-content: space-evenly;

      .links {
        > h3 {
          color: #53555a;
          margin-bottom: 1.4rem;
        }
        > p {
          font-family: $thin;
          margin: 1rem 0;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            color: #{$Blue};
          }
        }
      }
    }

    .iconTag {
      font-family: $thin;
      padding-top: 1rem;
      padding-bottom: 5rem;
      font-size: 0.8rem;
    }
  }
}
