@import "../guide";
//     #{$Blue}
//     #{$DarkBlue}
//     #{$Black}
//     #{$Green}

//     $thin
//     $mid
//     $fat

// News title only on home page

.NewsTitle {
  // text-align: center;
  max-width: 55rem;
  margin: 7rem auto 2rem auto;
  padding: 2rem;
  min-width: 300px;

  h1 {
    font-size: 2.6rem;
    font-family: $mid;
  }

  p {
    font-family: $thin;
    margin: 1rem 0;
  }
}

// News page box

.newsItems {
  position: relative;
  z-index: 10;
  clip-path: ellipse(340% 100% at 50% 0);
  -webkit-clip-path: ellipse(300% 100% at 50% 100%);
  margin-top: -10rem;
  margin-bottom: 5rem;
  width: 100%;

  .wrapper {
    padding: 3rem;
  }
}

// News boxes

.NewsBox {
  margin: 0rem auto;
  margin-bottom: 8rem;
  padding: 1rem;
  min-width: 300px;

  @media (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include centerMe;
  }
}

// News component

.NewsItem {
  margin: 1rem;
  background-color: #333746;
  width: 16rem;
  height: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s ease;

  @media (max-width: 800px) {
    width: 100%;
    padding: 0;
    margin: 2rem 0rem;
    background-color: #333746;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.1);
  }

  .pic {
    height: 11rem;
    background-color: #{$Green};
    object-fit: cover;
    width: 100%;
  }
  .info {
    margin-top: 0.5rem;
    margin-left: 1rem;

    &__industry {
      font-family: $thin;
      color: #{$Blue} !important;
      font-size: 0.9rem;
    }
    &__title {
      color: #{$White};
      font-family: $mid;
      margin: 0.3rem 0;
    }
    &__date {
      font-family: $thin;
      font-size: 0.8rem;
      color: rgb(150, 150, 150) !important;
    }
  }
}
