@import "../guide";
//     #{$Blue}
//     #{$DarkBlue}
//     #{$Black}
//     #{$Green}

//     $thin
//     $mid
//     $fat

.VideoComp {
  position: relative;
  z-index: 10;
  background-color: #{$Black};
  font-family: $mid;

  .VideoContent {
    @include centerMe;
    text-align: center;
    color: #{$White};
    padding: 0 1rem;
    h1 {
      font-size: 3rem;
    }

    span {
      color: #{$Blue} !important;
    }
    p {
      font-family: $thin;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }
    .VideoBox {
      margin: 0rem auto;
      position: relative;

      .SvgBG {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        overflow: hidden;
        opacity: 0.5;

        @media (max-width: 700px) {
          opacity: 0;
        }
      }

      .ItemBox {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 700px) {
          flex-direction: column;
          width: 100%;
        }

        .Item {
          width: 200px;
          flex-direction: column;
          text-align: left;
          display: flex;

          @media (max-width: 700px) {
            flex-direction: row;
            width: 100%;
          }

          .IconBox {
            padding: 1rem;
            .icon {
              width: 120px;
            }
          }
          .InfoBox {
            .titleBox {
              margin: 1rem 0;
              > h1 {
                font-size: 1.6rem;
              }
            }
            .info {
              > p {
                // font-size: 1.2rem;
                line-height: 1.7rem;
              }
            }
          }
        }
      }
    }
  }
}
