@import "guide";

//     #{$Blue}
//     #{$DarkBlue}
//     #{$Black}
//     #{$Green}
//     $thin
//     $mid
//     $fat

.InsidePage {
  font-family: $thin;

  .TopBar {
    background-color: #{$Blue};
    min-height: 35rem;
    &__Content {
      @include centerMe;

      .Title {
        color: white;
        text-align: center;
        padding: 3rem 0 6rem 0;
        > h1 {
          font-size: 3.9rem;
          @media (max-width: 800px) {
            font-size: 3rem;
          }
          @media (max-width: 500px) {
            font-size: 2rem;
          }
        }

        > p {
          font-size: 1.4rem;
          margin: 1rem 0;
          padding: 0 2rem;
          line-height: 2rem;
        }
      }
    }
  }

  .content {
    position: relative;
    z-index: 10;
    clip-path: ellipse(340% 100% at 50% 0);
    -webkit-clip-path: ellipse(300% 100% at 50% 100%);
    margin-top: -10rem;
    padding-bottom: 12rem;
    @media (max-width: 400px) {
      margin-top: -12rem;
    }

    .pic {
      margin-top: 3rem;
      img {
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
        height: 25rem;
        margin-bottom: 3rem;

        @media (max-width: 800px) {
          height: 15rem;
        }
      }
    }
  }

  // For privacy and terms page and any other long text page

  .contentLong {
    position: relative;
    z-index: 10;
    background-color: red;
    clip-path: ellipse(640% 100% at 50% 0);
    -webkit-clip-path: ellipse(600% 100% at 50% 100%);
    margin-top: -10rem;
    padding-bottom: 12rem;
    @media (max-width: 400px) {
      margin-top: -12rem;
    }

    h1 {
      font-size: 2rem;
      margin: 3rem 0;
      font-family: $mid;
    }
  }
}

//

// This is for FAQs page

//

.qbox {
  margin: 1.5rem auto;
  max-width: 40rem;
  // background-color: white;
  border-radius: 3rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.156);
}

.question {
  background-color: $Blue;
  padding: 1.6rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

  @media (max-width: 600px) {
    font-size: 1rem;
    padding: 1rem;
  }

  & span {
    margin-left: auto;
    .plusIcon {
      font-size: 40px;
      @media (max-width: 600px) {
        font-size: 30px;
      }
    }
  }
}
.answer {
  background-color: #fff;
  line-height: 1.9rem;
  padding: 1.6rem;
  border-bottom-left-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem;
  @media (max-width: 600px) {
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 1rem;
  }
}

//  FOR PRIVACT PAGE AND TERM PAGE

.contentLong {
  position: relative;
  z-index: 10;
  clip-path: ellipse(340% 100% at 50% 0);
  -webkit-clip-path: ellipse(300% 100% at 50% 100%);
  margin-top: -10rem;
  padding-bottom: 12rem;
  @media (max-width: 400px) {
    margin-top: -12rem;
  }
  background-color: $Black;
}
